{% extends "layout.html" %}
{% block title %}
    Feed
{% endblock %}

{% block content %}

    <v-post-form submit-url="{{ url_for('feed.add') }}"></v-post-form>
    <b-list-group flush>
        <v-feed v-bind:list='{{posts|tojson}}'></v-feed>
        <b-list-group-item>
            {% if pagination.total_pages > 1 %}
                <b-pagination-nav
                        last-number
                        first-number
                        number-of-pages="{{ pagination.total_pages }}"
                        base-url="{{ url_for('feed.index', page='') }}"
                ></b-pagination-nav>
            {% endif %}
        </b-list-group-item>
    </b-list-group>

{% endblock %}
