[mysqld]
server-id = 3
log_slave_updates = 1
rpl_semi_sync_slave_enabled = 1
binlog_format = row
gtid-mode = ON
enforce-gtid-consistency = true
log-slave-updates = true
log-bin = mysql-bin.log
relay-log = relay-bin
relay-log-info-file = relay-log.info
relay-log-index = relay-log.index
binlog-do-db = soc_net
